/* element selector */
p {
  color: blue;
  /* font-size: 80px; */
}
a {
  color: red;
}
/* id selector - The rule of ID is that it shouldn't have duplicates */
#fourth {
  font-size: 30px;
}

/* class selector - we need to start with a dot*/
.pg {
  font-weight: bolder;
}

/*----------- Element Selector------------ */
/* Descendant  - used to include all the nested elements*/
section p {
  color: green;
}

/* Child > - this angle bracket is like giving path way and the
angle bracket > defines the first level children*/
section > p {
  background: black;
}

/* Adjdacent- means just next to you */
section + p {
  background: red;
}

/* Sibling - used to impact the tree structure of DOM (Data Object Model*/
section ~ p {
  background: green;
}

/* attribute selector */
[href] {
  font-size: 32px;
  text-decoration: none;
}

[href="sdfe"] {
  color: indigo;
}

/* psudo element selector */
p::first-letter {
  color: red;
  font-size: 32px;
}

/* sudo class selector */
a:hover {
  color: turquoise;
  font-size: 16px;
}
