/* element selector */
p {
  color: blue;
  /* font-size: 80px; */
}
a {
  color: red;
}
/* id selector - The rule of ID is that it shouldn't have duplicates */
#fourth {
  font-size: 30px;
}

/* class selector - we need to start with a dot*/
.pg {
  font-weight: bolder;
}

/*----------- Element Selector------------ */
/* Descendant  - used to include all the nested elements*/
section p {
  color: green;
}

/* Child > - this angle bracket is like giving path way and the
angle bracket > defines the first level children*/
section > p {
  background: black;
}
